<html>
<head>
  <meta charset="utf-8"/>
  <title>TESTELASTIC</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
</head>
<body>  
  {{{body}}}
</body>
</html>