<html>
<head>
  <meta charset="utf-8"/>
  <title>Consult+Judge</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
    
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="assets/materialize/css/materialize.min.css"  media="screen,projection"/>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/assets/jsgrid-1.5.3/jsgrid.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/sass.js/0.6.3/sass.min.js"></script>
<link type="text/css" rel="stylesheet" href="/assets/jsgrid-1.5.3/jsgrid-theme.min.css" />
<script type="text/javascript" src="/assets/jsgrid-1.5.3/jsgrid.min.js"></script>
</head>
<body>
    <p style='visibility:hidden;font-family: Raleway, sans-serif;display:none;'>aaaa</p>
    <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" target="_self" href="/">หน้าหลัก</a></li>
        <li class="tab col s3"><a target="_self" href="/searchResult">ผลการค้นหา</a></li>

      </ul>
    </div>

  </div>

  <section id='createContext'>
  </section>
  <section id="content"></section>
    
  <div id="grid" class="card-panel hoverable hide"></div>
    
  <div id="errorMsg"></div>
    
  <script src="/assets/loginBundle.js"></script>
    <script type="text/javascript" src="assets/materialize/js/materialize.min.js"></script>
</body>
</html>